body{
    background-image: url("../img/rana-sawalha-364253-unsplash.png");
    background-size: revert;
    background-repeat: no-repeat;
}


@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.eot');
    src: url('../fonts/Verdana.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Verdana.woff') format('woff'),
    url('../fonts/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Verdana Bold';
    src: url('../fonts/Verdana-Bold.eot');
    src: url('../fonts/Verdana-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Verdana-Bold.woff') format('woff'),
    url('../fonts/Verdana-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;

}



/********************** Header ***********************/
.header2{
    background-color: rgba(0, 0, 0, 0.41);
    width: 1366px;
    height: 54px;
}

.icons{
    display: inline-block;
    float: left;
}

.icons li{
    background: url("../img/sprite.png") no-repeat;
    display: inline-block;
    height: 25px;
    width: 25px;
    margin-left: 15px;
}

.icons li:hover {
    background: url("../img/header-icons(hover).png") no-repeat;
    transition-duration: 0.3s;
}

.icons .icon2:hover{
    background-position: -49px 0;

}

.icons .icon3:hover{
    background-position: -98px 0;
}


.icons .icon2{
    background-position: -49px 0;

}

.icons .icon3{
    background-position: -98px 0;
}

.logo{
    display: inline-block;
    float: left;
}

.logo a{
    text-decoration: none;
    display: block;
    font-family: Verdana Bold, sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    line-height: 21px;
    text-align: left;
    padding-top: 19px;
    padding-left: 80px;

}
.header-text{
    padding-top: 17px;
    margin: 0;
    text-align: right;
    font-size: 14px;
    font-family: Verdana,sans-serif;
    color: white;
    margin-right: 75px;
}

.logo a:hover{
    color: #3cb878;
    transition: 0.3s;


}

.header-line{
    width: 1px;
    height: 19px;
    display: inline-block;
    float: left;
    background: #33312e;
    border: none;
    margin-top: 17px;

}
.header-icons{
    margin-left: 880px;
}

.signup-link-header{
    margin-left: 5px;
    text-decoration: none;
    color: #3cb878;

}

.signup-link-header:hover{
    border-bottom: 1px solid #3cb878;
    transition: 0.4s;

}
.login-link-header{
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    color: #3cb878;

}

.login-link-header:hover{
    border-bottom: 1px solid #3cb878;
    transition: 0.4s;
}










/********************** Form ***********************/

.form{
    background: white;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    width: 330px;
    height: 584px;
    margin: 65px 460px;
    border-radius: 5px;
    padding-left: 61px;
    padding-right: 61px;


}


.login{
    padding-top: 30px;
    padding-bottom: 15px;
}

.box{
    width: 18px;
    height: 18px;
    background: #3cb878;
    position: absolute;
    margin-left: -61px;
}

.login-text{
    font-family: Verdana, sans-serif;
    color: #434343;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
    float: left;
}


.login-link a {
    text-decoration: none;
    font-family: Verdana, sans-serif;
    color: #3cb878;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-left: 199px;

}
.login-link a:hover{
    border-bottom: 1px solid #3cb878;
    transition: 0.4s;
}


.facebook{
    width: 158px;
    height: 45px;
    background: #305db8;
    border-radius: 3px;
    display: inline-block;
    float: left;


}
.facebook:hover {
    background: #264b96;
    transition: 0.3s;
}

.facebook a{
    text-decoration: none;
}


.facebook-icon{
    float: left;
    margin-left: 20px;
    color: white;

}

.social-border-facebook{
    height: 30px;
    width: 2px;
    border: none;
    background: #224387;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -5px;

}

.social-name{
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-left: 18px;
}
.google{
    width: 160px;
    height: 45px;
    background: #df4a32;
    border-radius: 3px;
    float: right;

}
.google a{
    text-decoration: none;
}
.google:hover{
    background: #c3412c;
    transition: 0.3s;
}
.google-icon{
    float: left;
    margin-left: 15px;
    color: white;
}

.social-border-google{
    height: 30px;
    width: 2px;
    border: none;
    background: #af3a28;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -5px;
}

.social-name{
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-left: 18px;
    margin-top: 13px;
}

.line{
    width: 100%;
    height: 20px;
    float: left;
    margin-top: 30px;
    margin-bottom: 0;

}
.line1{
    width: 135px;
    float: left;
    height: 1px;
    border: none;
    background: #eaeaea;
}
.line2{
    width: 135px;
    float: left;
    height: 1px;
    border: none;
    background: #eaeaea;


}

.line-text{
    float: left;
    margin: -8px 19px;

}

.hr{
    width: 136px;
    border: none;
    height: 1px;


}
/*   ФОРМА   */
input{
   padding-top: -15px;
    width: 304px;
    height: 46px;
    margin-bottom: 9px;
    padding-left: 15px;
}

input:focus{
    outline: none;
    border: none;
    border-radius: 3px;
    background-color:  #ffffff;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    width: 305px;
    height: 46px;
    padding-left: 15px;

}

input[type="checkbox"]{
    display: none;
}
input[type="checkbox"]:checked + label::before{
    background: url("../img/checkbox.png");
    background-position: center;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    cursor: pointer;

}

label {
    padding-left: 20px;
    color: black;
    cursor: pointer;
}

label::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid #eaeaea;
    border-radius: 3px;
    vertical-align: middle;
    margin-left: -15px;
    margin-right: 10px;

}
label a{
    font-family: Verdana, sans-serif;
    color: #4fbd83;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    text-decoration: none;

}

label a:hover{
    border-bottom: 1px solid #4fbd83;

}

.checkbox{
    margin-top: 10px;
    margin-bottom: 15px;
}

.registration-button {
    width: 322px;
    height: 46px;
    background: #3cb878;
    border-radius: 2px;
    font-size: 16px;

}

.registration-button:hover{
    background: #329a65;
    transition: 0.3s;
}

.confirm{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    padding-top: 14px;
    text-align: center;
}
