body {
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    font-family: Verdana, sans-serif;

}

@font-face {
    font-family: 'Verdana';
    src: url('../fonts/Verdana.eot');
    src: url('../fonts/Verdana.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Verdana.woff') format('woff'),
    url('../fonts/Verdana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Verdana Bold';
    src: url('../fonts/Verdana-Bold.eot');
    src: url('../fonts/Verdana-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Verdana-Bold.woff') format('woff'),
    url('../fonts/Verdana-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.container {
    width: 1060px;
    margin: 0 auto;
}

/************************** HEADER **************************/
header {
    height: 90px;
    padding-top: 50px;
}

.logo {
    float: left;
    height: 45px;
    width: 45px;
    margin-right: 15px;
    background-image: url("../img/logo.png");
    background-size: cover;
}
.logo:hover {
    background: url("../img/logo2.png");
    color: #f26522;
}
.logo:hover h1 {
    color: #f26522;
}
.logo:hover h2 {
    color: #f26522;
}

.left-link h1 {
    font-family: Verdana Bold, sans-serif;
    color: #ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    margin-top: 0;
    margin-left: 55px;
}

.left-link h2 {
    font-family: Verdana Bold, sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    margin-top: -12px;
    margin-left: 55px;
}


.contacts {
    float: right;

}

.mail {
font-family: Verdana, sans-serif;
color: #ffffff;
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: left;
}

.phone {
font-family: Verdana, sans-serif;
color: #ffffff;
font-size: 18px;
font-weight: 400;
line-height: 21px;
text-align: right;
}

a {
text-decoration: none;
color: white;
}
a:hover {
color: #f26522;
}

/**************************  MAIN  *************************/
.main-img {
    display: inline-block;
    float: left;
    margin-left: 68px;
    padding-bottom: 55px;
    position: relative;
}

.main-img:first-child {
    margin-left: 0;
}

.main-img:nth-child(4) {
    margin-left: 0;
}

.main-img:last-child {
    margin-bottom: 0;
}

.details:hover {
    color: white;

}


.price {
    height: 63px;
    width: 308px;
    background: #f26522;
    position: absolute;
    bottom: 95px;
    display: none;
    color: white;

}

.main-img:hover .price {
    display: block;

}

.price-title {
    font-size: 10px;
}

.price-coast {
    font-size: 20px;
}

.price-left {
    margin-top: 10px;
    margin-left: 15px;
    width: 100px;
    float: left;
}

.price-right {
    margin-top: 33px;
    margin-left: 180px;
    font-size: 14px;
}

.main-content-link {
    margin-top: 20px;
    text-align: center;
}
/**************************  FOOTER  ************************/

footer {
    font-family: Verdana, sans-serif;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
}













