/*Подключение шрифтов*/
@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo.eot');
    src: url('../fonts/Arimo.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arimo.woff') format('woff'),
    url('../fonts/Arimo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo Bold';
    src: url('../fonts/Arimo-Bold.eot');
    src: url('../fonts/Arimo-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arimo-Bold.woff') format('woff'),
    url('../fonts/Arimo-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*Основные теги*/
body{
    width: 1150px;
}
table{
    text-transform: uppercase;
    border-collapse:collapse;
    border: 30px solid #3a4965;

}

i{
    margin-top: 30px;


}


h3{
    font-family: 'Arimo Bold', sans-serif;
    font-size: 14px;
}

h2{
    font-family: 'Arimo Bold', sans-serif;
    font-size: 20px;
    color: #484848;

}

h1{
    font-family: 'Arimo Bold', sans-serif;
    font-size: 24px;
}


td.grey{
    padding: 0;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.27) inset;

}

td{
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.27) inset;

}
tr {
    background-color: #f4f4f4;
    text-align: center;


}


/*Ячейки таблицы*/
.title{
    margin-top: 12px;
}
p{

    font-family: 'Arimo', sans-serif;
    color:  #484848;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.grey{
    background: #e3e3e3;
}
.table-header.grey{
background: #e3e3e3;

}

.grey:nth-child(3){
    background: #f2f2f2;
}
.grey:nth-child(5){
    background: #f2f2f2;
}
.grey:nth-child(7){
    background: #f2f2f2;
}

.table-header{
    height: 110px;
    width: 163px;
    color: #848484;


}



.coast{
    display: block;
    font-family: 'Arimo Bold', sans-serif;
    font-size: 36px;
    float: left;
    margin-left: 20px;

}

.cents{
    font-family: 'Arimo Bold', sans-serif;
    font-size: 18px;
    display: block;
    text-align: left;
    padding-top: 4px;
    float: left;
}

.period{
    display: inline-block;

}

.button{
    font-family: 'Arimo Bold', sans-serif;
    width: 145px;
    height: 40px;
    background: #414141;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 20px;
    border-bottom: 5px solid #343434;



}

.button a {
    display: block;
    text-decoration: none;
    color: white;
    padding-top: 13px;
}


.button:hover{
    background: #404040;
    border-bottom: 5px solid #484848;
    transition-duration: 0.3s;

}
.button a:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.ultimate{
    background: #f04a56;
    color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27)
}

.standart{
    background: #89c331;
    color: white;
    width: 200px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27)
}

.premium{
    background: #20807c;
    color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27)
}

.clearfix{
    display: block;
    content: '';
    clear: both;
}