/*******************Reset CSS*****************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html{
    height: 100%;
    overflow: hidden;
}


body {
    line-height: 1;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;


}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;

}


/*font-family: 'Open Sans', sans-serif;*/



/******************* NAVIGATION *****************/
.container {
    width: 1170px;
    margin: 0 auto;
}

.nav {
    background: #1d2124;
    height: 70px;
}

.logo {
    float: left;
    width: 50px;
    height: 50px;
    padding-top: 20px;
    padding-left: 20px;
}

.logo:hover {
    background: #1a1d20;
    transition-duration: 0.5s;
}

.company-name a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: rgba(255, 255, 255, 255);
    padding-top: 23px;
    margin-left: 0;
    float: left;

}

.menu {
    display: flex;
    justify-content: space-between;
    color: white;
    margin-left: 280px;
    margin-right: 185px;
    text-transform: uppercase;
    padding-top: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;

}

.menu a {
    text-decoration: none;
    color: #ebebeb;

}


/******************* HEADER *****************/
.header {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 50vh;
    position: relative;
    transform-style: inherit;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.41);


}

.header:before{
    background: 50% 50% / cover;
    width: 100vw;
    margin-top: -50vh;

}

.header::before{
    bottom: 0;
    left: 0;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url("../img/header-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;

}

.title {
    display: flex;
    justify-content: center;
    padding-top: 195px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 27px;
    color: white;




}

.buttons {
    display: flex;
    margin-top: 45px;
    justify-content: center;


}

.buttons a {
    text-decoration: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;


}

.button-subscribe {
    height: 55px;
    width: 170px;
    background-color: #89ca62;
    border-radius: 5px;
    margin-right: 20px;
    text-align: center;

}

.button-articles {
    height: 55px;
    width: 170px;
    background-color: #14b9d5;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 130px;

}

.button-subscribe a {
    display: block;
    padding-top: 18px;

}

.button-articles a {
    display: block;
    padding-top: 18px;
}


/******************* SECTION (MOST POPULAR POSTS) *****************/
.most-popular {
    background: #f2f2f2;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 27px;
    color: rgba(24, 180, 207, 255);
    text-align: center;
    text-transform: uppercase;
    padding-top: 60px;
    padding-bottom: 50px;

}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
}


.most-popular-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


}

.most-popular-item-title {
    height: 60px;
    background: white;
    margin-bottom: 30px;
    margin-top: -2px;

}

.most-popular-item-4 {
    margin-top: -120px;
}

.most-popular-item-6 {
    margin-top: -90px;
}


/******************* SECTION ( OUR MOST POPULAR CLIENTS) *****************/
.our-most-popular-clients {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*min-height: 50vh;*/
    position: relative;
    transform-style: inherit;
    width: 100vw;
overflow: hidden;


}

.our-most-popular-clients:before{
    background: 50% 50% / cover;
    width: 100vw;

}

.our-most-popular-clients::before{
    bottom: 0;
    left: 0;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url("../img/parallax-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;

}


hr {
    height: 3px;
    width: 60px;
    background: #169cb4;
    border: none;
}

.grid-container-most-popular-element1 {
    margin-top: 200px;
    text-align: center;
    grid-area: title;
    color: white;
    font-size: 32px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;


}

.grid-container-most-popular-element2 {
    display: grid;
    grid-area: hr;

}

.grid-container-most-popular {
    display: grid;
    grid-column-start: 2;
    grid-template-areas: "title title title title" "hr hr hr hr" "images images images images";
    grid-gap: 60px;
}

.grid-container-most-popular-element3 {
    display: grid;
    grid-area: images;
    grid-template-columns: repeat(4, 25%);
    padding-bottom: 200px;
    text-align: center;
}

/******************* SECTION ( TOP RATED ) *****************/
.top-rated {
    background: white;
}

.grid-container-top-rated {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(7, 210px);
}


/******************* SECTION ( HOT NEWS ) *****************/
.grid-container-hot-news {
    display: grid;
    grid-template-columns: 25% 22.5% 5% 22.5% 25%;


}


.description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #b0b2b4;
    margin: 25px;
    text-align: right;
    line-height: 20px;
    padding-bottom: 20px;
}

.info {
    background: #f9f7f7;


}

.info4 {

    margin-left: 60px;
    margin-top: -3px;

}

.info3 {

    margin-top: -3px;

}

.info2 {

    margin-left: 16px;
    margin-top: -17px;

}

.info7 {

    margin-right: 16px;
    margin-top: -3px;

}

.info5 {

    margin-top: -3px;

}

.info6 {

    margin-left: 60px;
    margin-top: -3px;

}


.grid-container-hot-news-element {
    text-align: right;


}

.grid-container-hot-news-element h3 {
    margin-right: 30px;
    text-align: right;


}

.grid-container-hot-news-element:nth-child(3) h3 {
    margin-right: 50px;
    text-align: right;
}

.grid-container-hot-news-element:nth-child(5) h3 {
    margin-right: 50px;
    text-align: right;
}

.grid-container-hot-news-element:nth-child(2) h3 {
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 44px;

}

.grid-container-hot-news-element:nth-child(7) h3 {
    text-align: center;
    padding: 15px;

}

.grid-container-hot-news-element:nth-child(3) p {
    margin-right: 50px;
    text-align: right;
}

.grid-container-hot-news-element:nth-child(5) p {
    margin-right: 50px;
    text-align: right;

}

.grid-container-hot-news-element:nth-child(1) {
    text-align: left;
    grid-column: 1 / span 4;
    display: grid;
    grid-template-columns: 55% 45%;
    margin-bottom: 40px;
}

.grid-container-hot-news-element:nth-child(3) {
    text-align: left;
    grid-column: 1 / span 2;
    margin-bottom: 20px;


}

.grid-container-hot-news-element:nth-child(4) {
    text-align: right;
    grid-column: 3 / span 4;


}

.grid-container-hot-news-element:nth-child(5) {
    text-align: left;
    grid-column: 1 / span 2;
    margin-bottom: 20px;


}

.grid-container-hot-news-element:nth-child(6) {
    text-align: right;
    grid-column: 3 / span 4;


}

.grid-container-hot-news-element:nth-child(7) {
    text-align: left;


}

.grid-container-hot-news-element:nth-child(8) {
    text-align: right;
    grid-column: 2 / span 4;
    display: grid;
    grid-template-columns: 55% 45%;
    margin-bottom: 75px;
}


/******************* FOOTER *****************/

footer {
    background: #1d2124;
}

.footer-grid-container {
    display: grid;
    grid-template-columns: 90% 4% 6%;
    padding-top: 30px;
    padding-bottom: 20px;


}

.footer-logo-first {
    text-align: right;
}

.footer-copyright {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #d3d4d4;

}
