body, html
{
    width: 100%;
    height: 100%;
    font-size: 100px;
    font-family:sans-serif;
    text-align: center;
    font-weight: 700;
    color: #ff6;
    background-color: #000;
    overflow: hidden;
}
.animation{
    position: absolute;
    width: 120%;
    height: 300%;
    bottom: 0;
    left: 50%;
    margin-left: -900px;

    overflow: hidden;
    transform-origin:50% 100%;
    transform: perspective(350px) rotateX(25deg);


}

.starWars{
    position: absolute;
    top: 100%;
    animation: scroll 30s linear 0s infinite;

}
@keyframes scroll {
    from {
        top: 100%;
    }
    to {
        top: -170%; }
}



.music{
    opacity: 0;
}