body, html {
    margin: 0;
    padding: 0;
}

.menu {
    height: 80px;
    width: auto;
    padding-top: 30px;
    margin-bottom: -15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;


}


.menu a {
    margin-left: 66px;
    text-decoration: none;
    color: #16a085;
    font-size: 18px;
}

.menu a:first-child {
    margin-left: 0;
}

.menu a:hover {
    text-decoration: none;
    font-size: 18px;
    color: rgb(155, 40, 6);
}

.main {
    width: 960px;
    height: 650px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;


}



.title {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 25px;
    padding-bottom: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.container {
    width: 1280px;
    margin: 0 auto;
    background-color: #f5f6f7;
}

.text {
    text-decoration: none;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 20px;

    margin: auto;
    letter-spacing: 2px;
    background-color: #f5f6f7;
    width: 960px;
    text-align: center;


}

.button {
    height: 30px;
    width: 150px;
    padding-top: 13px;
    margin-top: 45px;
    background-color: #16a085;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.button a {
    text-decoration: none;
    color: white;

}

.button a:hover {
    text-decoration: none;
    color: rgb(155, 40, 6);

}

.footer {
    height: 108px;
    background-color: white;


}

.copiright {
    text-align: right;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-right: 65px;
}