/*Подключение шрифтов*/
@font-face {
    font-family: 'Arimo';
    src: url('../fonts/Arimo.eot');
    src: url('../fonts/Arimo.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arimo.woff') format('woff'),
    url('../fonts/Arimo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Arimo Bold';
    src: url('../fonts/Arimo-Bold.eot');
    src: url('../fonts/Arimo-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Arimo-Bold.woff') format('woff'),
    url('../fonts/Arimo-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*Основные теги*/
body{
    width: 1150px;
}
table{
    text-transform: uppercase;
    border-collapse:collapse;
    border: 30px solid #3a4965;

}
td{
    width: 275px;
    height: 70px;
    color: #484848;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.27);
}

p{

    font-family: 'Arimo', sans-serif;
    color:  #484848;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}


h3{
    font-family: 'Arimo Bold', sans-serif;
    font-size: 18px;
}

h2{
    font-family: 'Arimo Bold', sans-serif;
    font-size: 30px;
    color: #484848;

}

h1{
    font-family: 'Arimo Bold', sans-serif;
    font-size: 24px;
}

i{
    color: #848484;
    float: left;
    margin-top: 20px;



}

.clearfix::after{
    display: block;
    content: '';
    height: 0;
    clear: both;
}


/*Ячейки таблицы*/

.icons{
    display: flex;
    justify-content: center;
    width: 140px;
    margin: 0 auto;
}

.subtitle{
    margin-top: -15px;
}

.grey{
    background: #e3e3e3;

}
.lightgray{
    background: #f2f2f2;
}

.contact{
    background: #dddddd;
}

.title{
    text-align: center;
    color: white;
}
.ultimate-title-name{
    font-size: 30px;
}

.standart-title{
    background: #89c331;
}

.ultimate-title{
    background: #f04a56;
}

.premium-title{
    background: #20807c;
}

.coast{
    display: block;
    font-family: 'Arimo Bold', sans-serif;
    font-size: 60px;
    float: left;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;




}

.cents{
    font-family: 'Arimo Bold', sans-serif;
    font-size: 24px;
    display: block;
    text-align: left;
    padding-top: 4px;
    float: left;
    margin-top: 15px;




}

.period{
    display: inline-block;
    padding-top: 25px;
    margin-left: -29px;
    color: #484848;

}



.info{
    display: block;
    margin-left: 15px;
    float: left;
}

.contact-us{
    height: 110px;
    background: #dddddd;
}

.buy-now-standart{
    background: #eeeeee;
}
.buy-now-ultimate{
    background: #f4f4f4;
}
.buy-now-premium{
    background: #eeeeee;
}

/*Кнопки таблицы*/

.button{
    width: 145px;
    height: 40px;
    background: #414141;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 20px;
    border-bottom: 5px solid #343434;

}

.button a {
    display: block;
    text-decoration: none;
    color: white;
    padding-top: 13px;
}


.contact-btn{
    background: #484848;
    border-bottom: 5px solid #404040;
}
.contact-btn:hover{
    background: #404040;
    border-bottom: 5px solid #484848;
    transition-duration: 0.3s;

}
.contact-btn a:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.standart-btn{
    background: #89c331;
    border-bottom: 5px solid #79b027;

}

.standart-btn:hover{
    background: #79b027;
    border-bottom: 5px solid #89c331;
    transition-duration: 0.3s;

}
.standart-btn a:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.ultimate-btn{
    background: #f04a56;
    border-bottom: 5px solid #df3a46;
}

.ultimate-btn:hover{
    background: #df3a46;
    border-bottom: 5px solid #f04a56;
    transition-duration: 0.3s;

}
.ultimate-btn a:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}

.premium-btn{
    background: #20807c;
    border-bottom: 5px solid #16736f;
}
.premium-btn:hover{
    background: #16736f;
    border-bottom: 5px solid #20807c;
    transition-duration: 0.3s;

}
.premium-btn a:hover{
    transform: scale(1.2);
    transition-duration: 0.5s;
}



