body, html {
    font-family: "Myriad Pro", sans-serif;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
}


.clearfix {
    content: '';
    display: block;
    clear: both;
}

.colortext{
    color: #4bcaff;
}

.logo {
    font-size: 80px;
    margin-top: 60px;
    margin-bottom: 60px;

}

a{
    text-decoration: none;
    color: black;
}

/*  Навигация           */
.navigation{
    background: #35444f;
    font-size: 24px;

}
.nav{
    padding: 0;
    display: inline-block;
    margin-top: 25px;
    margin-left: 150px;
    margin-bottom: 10px;

}
.nav li a:hover{
    background: #222f3a;
    font-size: 24px;
    padding-top: 26px;
    padding-bottom: 19px;
    border-left: 1px solid #818181;
    border-right: 1px solid #818181;
    margin: 0 -1px;
    transition-duration: 0.5s;
}

.nav a{
    color: white;
    padding-left: 25px;
    padding-right: 20px;
}
.nav li{
    display: inline-block;
    float: left;
    margin-right: 50px;

}

/*    Основная часть         */
.menu{
    font-size: 27px;
    color: #35444f;


}
.menu ul{
    float: left;
    list-style-type: none;
    width: 345px;
    margin-top: 55px;
    border: 1px solid #35444f;



}

.menu a {
    color: #35444f;
}

.menu a:hover {
    color: black;

}

.menu ul li:hover {
    background: #dbdbdb;
    padding-left: 109px;
    margin-left: -40px;
    transition-duration: 0.5s;
}

.menu li{
    padding: 30px 1px 31px 30px;

}

.content{
    float: right;
    margin-top: 55px;
    padding-left: 55px;
    width: 835px;



}
.img{
    border: 1px solid #35444f;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 75px;
}


.img_animation:hover{
    transform: scale(1.15,1.15);
    transition-duration: 0.5s;
}
.text{

    color:  #2c2c2c;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 50px 30px;




}

.footer_nav{
    background: #b4b7ba;
    height: 70px;
    width: 1280px;
    margin-bottom: 30px;
    margin-top: 20px;
    display: inline-block;

}

.footer_nav li{
    float: left;
    list-style-type: none;
    font-size: 28px;
    padding-right: 30px;
    padding-top: 5px;


}

.footer_nav li:last-child{
    float: right;


}


.footer_nav li a:hover{
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
    transition-duration: 0.5s;
}







